.teksts {
display: flex;
padding: 14px 30px 10px;
margin: 6px 10px;
font-family: 'Garamond', monospace;
font-size: 26px;
color:#6B0369;
}
.apkart{
  margin: 50px 20px 50px 20px;
  background-color:#CC5F0F;
  border-color: #6B0369;
  padding: 15px 15px 15px 15px;
  width: 30%;
}
.poga{
  background-color: #42135E;
  text-align: center;
  color:#0FCCAB ;
  font-size: 16px;
  cursor: pointer;
  border: 3px;
  border-radius: 20px 20px 20px 20px;
  padding: 6px 6px 6px 6px;
  margin-left: 420px;
  font-family: 'Garamond', monospace;
}
.poga:hover {opacity: 1}

 .izveles {
background-color: #42135E;
color:#0FCCAB ;
font-weight: bold;
width: 140px;
border: 3px;
border-radius: 14px 14px 14px 14px;
padding: 8px 8px 8px 8px;
margin: 11px 11px 11px 11px;
text-align: center;
font-family: 'Garamond', monospace;
}
.bilde {
  width:387px;
  height:267px;
  margin-left: 60px;
}
 .ievadi{
background-color: #42135E;
color:#0FCCAB ;
width: 140px;
border: 4px;
border-radius: 15px 15px 15px 15px;
padding: 8px 8px 8px 8px;
margin: 12px 12px 12px 12px;
text-align: center;
font-family: 'Garamond', monospace;
}
 .v{
color: #6B0369;
display: inline-block;
width: 150px;
padding: 9px 9px 9px 9px;
height: 35px;
width: 35px;
margin-left: 130px;
}
.linija{
  width: 90%;
  color: #6B0369;
}
